<h3>&nbsp;</h3>
	<div class="row">
		<div class="col-sm-12">
			<div class="header">
				<p class="jumboLogo">
					<img src="img/say-logo.png" class="img-responsive" alt="Say"
						style="display: inline; margin-left: 10px">
				</p>
				<hr />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h3>Hello there!</h3>
			<p>We want <a href="www.foobar.com">foobar</a> to be <strong>your</strong> company. We want to hear your opinion about things. We want to talk!<br/>
			But we also know that sometimes, it is difficult to say things up front. That's why we have created 'Say!'</p>
			<p>Have something to say about the company, but afraid to let everyone know it was you? Worry not! 'Say!' helps you do just that. You can post things here anonymously! Don't let the things you think can be improved, remain unspoken, or even things you think are not going quite so well!</p>
			<h4>Code of cunduct</h4>
			<p>There is only one thing we are asking you when you use this site: Respect for everyone!</p>
			<p>This is an anonymous site. We think it empowers everyone to speak freely. However, this freedom has to be used carefully. Please, think twice before you post something. When criticizing, don't use names. Please mind your language!</p>
		</div>
	</div>